/* 
    Document   : main
    Created on : 23-sept.-2012, 18:02:13
    Author     : Kèkè
    Description:
        Purpose of the stylesheet follows.
		
		
	@media only screen and (max-width: 959px){code css ici}
	@media only screen and (min-width: 768px) and (max-width: 959px){code css ici} -- tabelette paysage
	@media only screen and (max-width: 767px){code css ici} -- les 3 suivants
	@media only screen and (min-width: 480px) and (max-width: 767px){code css ici} -- téléphone mobile paysage + tabelette portrait
	@media only screen and (max-width: 479px){code css ici} -- téléphone mobile portrait
	device-pixel-ratio, min-resolution: 192dpi
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Anton);

body{
    margin : 0em;
    background-color: #ffffff;
    font-family: Myriad,Arial,Helvetica,sans-serif;
    font-size: 14px;
}

#centre{
	position: fixed;
    z-index: 5;
    top : 0px;
	width: 100%;
	background-color: #ffffff;
	background-image: url('../img/struckaxiom.png');
	-moz-box-shadow: 0px 0px 4px 2px rgba(50, 50, 50, 0.5); 
    -webkit-box-shadow: 0px 0px 4px 2px rgba(50, 50, 50, 0.5); 
    box-shadow: 0px 0px 4px 2px rgba(50, 50, 50, 0.5);
	overflow: hidden;
}

header{
    width: 50%;
    margin: 0em auto 0em;
	font: 1em 'Open Sans Condensed';
	font-weight: 700;
}

header nav{
    float: left;
    width: 70%;
    margin: 0em auto;
}

header h1{
    width: 30%;
	float: left;
	margin-bottom: 0.2em;
    
}
header h1 em{
    font-family: 'Open Sans';
}

header h1 a{
    
    display: inline-block;
    color: black;
    width: 100%;
    font-size: 1.5em;
}

header nav ul{
    width: 100%;
    padding: 0em;
    float: right;
}

header nav li{
    width: 15%;
    min-width: 130px;
    margin: 1.6em auto 0em;
    list-style: none;
    font-size: 1.1em;
    float: left;
}

header nav a{
    
    display: inline-block;
    height: 2em;
    width: 90%;
    margin-right: 10%;
    text-align: center;
	font-size: 1.2em;
    line-height: 2em;
    color: black;
    text-decoration: none;
	-moz-transition: background-color 0.4s linear;
	transition: background-color 0.4s linear;
}

header nav ul li a:hover{
   
    text-decoration: underline;
	color: white;
	background-color: rgba(82,161,243,0.8);

}

#actif{
    
    color: #52A1F3;
}

#actif:hover{
   
    text-decoration: underline;
	color: white;
}

#degrade{
    
    margin-top: 6em;
    padding-bottom: 0.2em;
    background: whitesmoke;
	background-image: url('../img/struckaxiom.png');
	-moz-box-shadow: 0px 0px 4px 2px rgba(50, 50, 50, 0.4); 
    -webkit-box-shadow: 0px 0px 4px 2px rgba(50, 50, 50, 0.4); 
    box-shadow: 0px 0px 4px 2px rgba(50, 50, 50, 0.4); 
	overflow: hidden;
}

#accueil
{
    /*margin-bottom: 2.5em;*/
	color: white;
	font: 2em league-gothic, serif; 
	padding: 1em 0em 1em 0em;
    line-height: 1.5em;
	background-color:  #52A1F3; 
	-webkit-box-shadow: inset 0px -3px 4px -2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: inset 0px -3px 4px -2px rgba(50, 50, 50, 0.5);
	box-shadow: inset 0px -3px 4px -2px rgba(50, 50, 50, 0.5); 
}

#accueil h1,#accueil p{
    width: 50%;
    margin: 0.5em auto;
}

#accueil p{
	text-align: center;
}

#travaux{
    margin-bottom: -4em;
}

#travaux h1{
    width: 50%;
    margin: 1em auto;
}

#travaux p{
    width: 50%;
    margin: 1em auto 2em;
}

#travaux ul{
    width: 60%;
    margin: auto;
    padding: 0em;
    z-index: 1;
}


#travaux ul li{
    
    min-width: 210px;
    margin-left: 0em;
	margin-bottom: 1em;
    margin-right: 2.8%;
    list-style: none;
    float: left;
}

#propos{
    clear: both;
    margin-bottom: 2.5em;
    width: 50%;
    margin: auto;
}

#propos h1{
    margin-bottom: 0em;
	clear: both;
}

#propos .colonne{
    width: 30%;
    margin-right: 3.1%;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    float: left;
	list-style-type: none;
	padding-left: 0em;
}

#propos section h1{
    color: #2B74E2;
}

#contact{
    clear: both;
    padding-bottom: 1em;
    border-top: groove 2px #fafafa;
    background-color: #ffffff;
	background-image: url('../img/diagonal-noise.png');
}

#contact h1,#contact p{
    width: 50%;
    margin: 1em auto;
    color: black;
}

#contact a, #contact em{
    color: #4889EA;
}

footer{
    background-color:  #ffffff;
	background-image: url('../img/diagonal-noise.png');
    margin: auto;
}

footer p{
    width: 50%;
	text-align: center;
    font-size: 0.8em;
    margin: 0em auto;
    padding: 1em 0em;
    color: #161616;      
}

